CRAWL DATA

In [67]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

In [68]:
# Set up Selenium WebDriver
options = webdriver.ChromeOptions()
options.add_argument('--headless')  # Run in headless mode
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)

In [69]:
driver.get("https://www.worldometers.info/coronavirus/#countries")
time.sleep(3)  # Wait for the page to load

In [70]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

try:
    # Chờ phần tử xuất hiện
    two_days_ago_button = WebDriverWait(driver, 15).until(
        EC.element_to_be_clickable((By.XPATH, "//a[@href='#nav-yesterday2']"))
    )

    # Click vào nút
    driver.execute_script("arguments[0].click();", two_days_ago_button)
    print("Clicked on '2 Days Ago' successfully!")

except Exception as e:
    print("Error clicking '2 Days Ago':", e)

Clicked on '2 Days Ago' successfully!

In [71]:
try:
    columns_button = driver.find_element(By.XPATH, "//button[contains(text(), 'Columns')]")
    driver.execute_script("arguments[0].click();", columns_button)
    time.sleep(5)
except Exception as e:
    print("Error clicking 'Columns':", e)

In [72]:
# Click on "New Cases" column header to sort by new cases
try:
    new_cases_button = driver.find_element(By.XPATH, "//label[@for='column_3']")
    driver.execute_script("arguments[0].click();", new_cases_button)
    time.sleep(5)
except Exception as e:
    print("Error clicking 'New Cases':", e)

In [73]:
elements = driver.find_elements(By.XPATH, "//table[@id='main_table_countries_yesterday2']/tbody/tr")

In [74]:
print(f"Number of rows found: {len(elements)}")
data = []
for row in elements:
    cols = row.find_elements(By.TAG_NAME, "td") 
    if cols:
        print([col.text.strip() for col in cols])  # In dữ liệu thô
        data.append([col.text.strip() for col in cols])

Number of rows found: 247
['', 'World', '704,749,931', '+3,536', '7,010,624', '675,604,068', '90,413', '899.4', '', '']
['', '', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '']
['1', 'USA', '111,818,931', '+1,744', '1,219,480', '109,804,319', '333,982', '3,642', '334,805,269', '']
['', '', '', '', '', '', '', '', '', '']
['2', 'India', '45,035,325', '+71', '533,570', 'N/A', '32,016', '379', '1,406,631,776', '']
['3', 'France', '40,138,560', '', '167,642', '39,970,918', '612,013', '2,556', '65,584,518', '']
['4', 'Germany', '38,828,922', '+746', '183,011', '38,240,600', '462,891', '2,182', '83,883,596', '']
['5', 'Brazil', '38,743,918', '', '711,380', '36,249,161', '179,908', '3,303', '215,353,593', '']
['6', 'S. Korea', '34,571,873', '', '35,934', '34,535,939', '673,523', '700', '51,329,899', '']
['7', 'Japan', '33,803,572', '', '74,694', 'N/A', '269,169', '595', '125,584,838', '']
['8', 'Italy', '26,723,249', '', '196,487', '26,361,218', '443,445', '3,261', '60,262,770', '']
['9', 'UK', '24,910,387', '', '232,112', '24,678,275', '363,666', '3,389', '68,497,907', '']
['10', 'Russia', '24,124,215', '', '402,756', '23,545,818', '165,454', '2,762', '145,805,947', '']
['11', 'Turkey', '17,232,066', '', '102,174', 'N/A', '201,399', '1,194', '85,561,976', '']
['', '', '', '', '', '', '', '', '', '']
['12', 'Spain', '13,914,811', '', '121,760', '13,762,417', '297,840', '2,606', '46,719,142', '']
['', '', '', '', '', '', '', '', '', '']
['13', 'Australia', '11,852,480', '+954', '24,414', '11,815,715', '454,662', '937', '26,068,792', '']
['14', 'Vietnam', '11,625,195', '', '43,206', '10,640,971', '117,481', '437', '98,953,541', '']
['15', 'Taiwan', '10,241,523', '', '19,005', '10,222,518', '428,720', '796', '23,888,595', '']
['16', 'Argentina', '10,128,845', '', '130,841', '9,997,258', '220,143', '2,844', '46,010,234', '']
['17', 'Netherlands', '8,635,786', '', '22,992', '8,612,599', '501,747', '1,336', '17,211,447', '']
['18', 'Mexico', '7,702,809', '', '334,958', '6,899,865', '58,549', '2,546', '131,562,772', '']
['19', 'Iran', '7,627,186', '', '146,811', 'N/A', '88,665', '1,707', '86,022,837', '']
['20', 'Indonesia', '6,829,221', '', '162,063', '6,647,104', '24,466', '581', '279,134,505', '']
['21', 'Poland', '6,661,991', '', '120,598', 'N/A', '176,524', '3,196', '37,739,785', '']
['22', 'Colombia', '6,400,173', '', '143,200', '6,212,152', '124,244', '2,780', '51,512,762', '']
['23', 'Greece', '6,101,379', '', '37,869', 'N/A', '591,412', '3,671', '10,316,637', '']
['24', 'Austria', '6,081,287', '', '22,542', '6,054,934', '670,727', '2,486', '9,066,710', '']
['25', 'Portugal', '5,643,062', '', '28,126', '5,614,809', '556,484', '2,774', '10,140,570', '']
['26', 'Ukraine', '5,557,995', '', '112,418', '5,445,577', '128,681', '2,603', '43,192,122', '']
['27', 'Chile', '5,383,638', '', '64,497', '5,252,450', '279,667', '3,350', '19,250,195', '']
['28', 'Malaysia', '5,278,406', '', '37,348', '5,233,268', '159,079', '1,126', '33,181,072', '']
['29', 'Canada', '4,946,090', '', '59,034', '4,880,612', '128,843', '1,538', '38,388,419', '']
['30', 'Belgium', '4,861,695', '', '34,376', '4,826,712', '416,659', '2,946', '11,668,278', '']
['31', 'Israel', '4,841,772', '', '12,707', '4,798,473', '519,169', '1,363', '9,326,000', '']
['32', 'DPRK', '4,772,813', '', '74', '4,772,739', '183,636', '3', '25,990,679', '']
['33', 'Thailand', '4,770,149', '', '34,586', '4,692,636', '68,069', '494', '70,078,203', '']
['34', 'Czechia', '4,759,041', '', '43,517', '4,715,206', '443,246', '4,053', '10,736,784', '']
['35', 'Peru', '4,572,667', '', '222,161', '4,350,506', '135,751', '6,595', '33,684,208', '']
['36', 'Switzerland', '4,453,053', '', '14,452', '4,438,309', '507,549', '1,647', '8,773,637', '']
['37', 'Philippines', '4,140,383', '', '66,864', '4,067,381', '36,800', '594', '112,508,994', '']
['38', 'South Africa', '4,076,463', '', '102,595', '3,912,506', '67,095', '1,689', '60,756,135', '']
['39', 'Romania', '3,529,735', '', '68,929', '3,459,759', '185,470', '3,622', '19,031,335', '']
['40', 'Denmark', '3,183,756', '', '8,814', '3,174,942', '545,636', '1,511', '5,834,950', '']
['41', 'Singapore', '3,006,155', '', '2,024', '3,004,131', '505,785', '341', '5,943,546', '']
['42', 'Hong Kong', '2,936,913', '', '14,890', '2,916,039', '386,217', '1,958', '7,604,299', '']
['43', 'Sweden', '2,754,129', '', '27,407', '2,726,454', '269,511', '2,682', '10,218,971', '']
['44', 'New Zealand', '2,621,111', '', '5,697', '2,613,791', '535,117', '1,163', '4,898,203', '']
['45', 'Serbia', '2,614,985', '', '18,057', '2,596,608', '302,205', '2,087', '8,653,016', '']
['46', 'Iraq', '2,465,545', '', '25,375', '2,439,497', '58,474', '602', '42,164,965', '']
['47', 'Hungary', '2,230,232', '', '49,048', '2,152,155', '232,164', '5,106', '9,606,259', '']
['48', 'Bangladesh', '2,049,377', '', '29,493', 'N/A', '12,207', '176', '167,885,689', '']
['49', 'Slovakia', '1,877,605', '', '21,224', '1,856,381', '343,872', '3,887', '5,460,193', '']
['50', 'Georgia', '1,861,665', '', '17,132', 'N/A', '469,082', '4,317', '3,968,738', '']
['51', 'Jordan', '1,746,997', '', '14,122', '1,731,007', '169,597', '1,371', '10,300,869', '']
['52', 'Ireland', '1,734,582', '', '9,491', '1,724,921', '345,521', '1,891', '5,020,199', '']
['53', 'Pakistan', '1,581,936', '', '30,664', '1,538,689', '6,893', '134', '229,488,994', '']
['54', 'Finland', '1,516,117', '', '11,958', '1,503,958', '272,930', '2,153', '5,554,960', '']
['55', 'Norway', '1,509,732', '', '6,638', '1,503,094', '273,930', '1,204', '5,511,370', '']
['56', 'Kazakhstan', '1,411,831', '', '13,848', '1,383,020', '73,514', '721', '19,205,043', '']
['57', 'Lithuania', '1,397,786', '+16', '9,897', '1,387,445', '525,146', '3,718', '2,661,708', '']
['58', 'Slovenia', '1,356,546', '+1', '7,100', '1,349,424', '652,803', '3,417', '2,078,034', '']
['59', 'Bulgaria', '1,339,848', '+4', '38,748', '1,292,944', '195,753', '5,661', '6,844,597', '']
['60', 'Croatia', '1,309,728', '', '18,687', '1,258,432', '322,650', '4,604', '4,059,286', '']
['61', 'Guatemala', '1,291,293', '', '20,289', '1,269,891', '69,484', '1,092', '18,584,039', '']
['62', 'Morocco', '1,278,992', '', '16,303', 'N/A', '33,860', '432', '37,772,756', '']
['63', 'Lebanon', '1,243,838', '', '10,952', '1,087,587', '186,068', '1,638', '6,684,849', '']
['64', 'Costa Rica', '1,238,883', '', '9,428', 'N/A', '239,058', '1,819', '5,182,354', '']
['65', 'Bolivia', '1,212,131', '', '22,407', '1,177,145', '101,073', '1,868', '11,992,656', '']
['66', 'Tunisia', '1,153,361', '', '29,423', 'N/A', '95,741', '2,442', '12,046,656', '']
['67', 'Cuba', '1,115,251', '', '8,530', '1,106,660', '98,645', '754', '11,305,652', '']
['68', 'Ecuador', '1,070,188', '', '36,043', '1,034,145', '59,083', '1,990', '18,113,361', '']
['69', 'UAE', '1,067,030', '', '2,349', 'N/A', '105,837', '233', '10,081,785', '']
['70', 'Panama', '1,059,893', '', '8,727', '1,051,102', '238,341', '1,962', '4,446,964', '']
['71', 'Uruguay', '1,041,111', '', '7,664', '1,030,944', '297,799', '2,192', '3,496,016', '']
['72', 'Mongolia', '1,011,496', '', '2,284', '1,009,212', '299,429', '676', '3,378,078', '']
['73', 'Nepal', '1,003,450', '', '12,031', '991,322', '33,199', '398', '30,225,582', '']
['74', 'Belarus', '994,037', '', '7,118', '985,592', '105,381', '755', '9,432,800', '']
['75', 'Latvia', '982,505', '', '6,715', '971,406', '531,418', '3,632', '1,848,837', '']
['76', 'Saudi Arabia', '841,469', '', '9,646', 'N/A', '23,475', '269', '35,844,909', '']
['77', 'Paraguay', '837,602', '', '20,155', 'N/A', '114,648', '2,759', '7,305,843', '']
['78', 'Azerbaijan', '835,234', '', '10,400', '824,089', '81,089', '1,010', '10,300,205', '']
['79', 'Bahrain', '729,549', '', '1,574', '727,915', '408,944', '882', '1,783,983', '']
['80', 'Cyprus', '681,110', '', '1,365', '679,745', '556,741', '1,116', '1,223,387', '']
['81', 'Dominican Republic', '675,890', '', '4,384', '671,316', '61,131', '397', '11,056,370', '']
['82', 'Sri Lanka', '672,754', '', '16,897', '655,852', '31,181', '783', '21,575,842', '']
['83', 'Kuwait', '667,158', '', '2,570', 'N/A', '152,308', '587', '4,380,326', '']
['84', 'Myanmar', '641,873', '', '19,495', '620,159', '11,622', '353', '55,227,143', '']
['85', 'Moldova', '635,145', '', '12,218', 'N/A', '158,265', '3,044', '4,013,171', '']
['86', 'Estonia', '628,070', '', '3,001', 'N/A', '475,123', '2,270', '1,321,910', '']
['87', 'Palestine', '621,008', '', '5,404', '615,445', '116,173', '1,011', '5,345,541', '']
['88', 'Venezuela', '552,695', '', '5,856', '546,537', '18,885', '200', '29,266,991', '']
['89', 'Egypt', '516,023', '', '24,613', '442,182', '4,861', '232', '106,156,692', '']
['90', 'Qatar', '514,524', '', '690', '513,687', '172,664', '232', '2,979,915', '']
['91', 'Libya', '507,274', '', '6,437', '500,835', '72,048', '914', '7,040,745', '']
['92', 'China', '503,302', '', '5,272', '379,053', '347', '4', '1,448,471,400', '']
['93', 'Ethiopia', '501,157', '', '7,574', '488,171', '4,148', '63', '120,812,698', '']
['94', 'Réunion', '494,595', '', '921', 'N/A', '544,672', '1,014', '908,061', '']
['95', 'Honduras', '474,590', '', '11,165', 'N/A', '46,432', '1,092', '10,221,247', '']
['96', 'Armenia', '451,831', '', '8,777', '435,162', '152,031', '2,953', '2,971,966', '']
['97', 'Bosnia and Herzegovina', '403,615', '', '16,388', '379,084', '124,215', '5,044', '3,249,317', '']
['98', 'Oman', '399,449', '', '4,628', 'N/A', '75,028', '869', '5,323,993', '']
['99', 'Luxembourg', '391,232', '', '1,232', 'N/A', '609,044', '1,918', '642,371', '']
['100', 'North Macedonia', '350,567', '', '9,976', '337,068', '168,436', '4,793', '2,081,304', '']
['101', 'Zambia', '349,304', '', '4,069', '341,316', '17,940', '209', '19,470,234', '']
['102', 'Kenya', '344,130', '', '5,689', '337,309', '6,122', '101', '56,215,221', '']
['103', 'Brunei', '343,719', '', '225', '243,601', '771,655', '505', '445,431', '']
['104', 'Albania', '334,863', '', '3,605', '330,233', '116,825', '1,258', '2,866,374', '']
['105', 'Botswana', '330,638', '', '2,801', '327,049', '135,443', '1,147', '2,441,162', '']
['106', 'Montenegro', '296,542', '', '2,846', '291,794', '472,238', '4,532', '627,950', '']
['107', 'Algeria', '272,010', '', '6,881', '183,061', '5,998', '152', '45,350,148', '']
['108', 'Nigeria', '267,188', '', '3,155', '259,953', '1,233', '15', '216,746,934', '']
['109', 'Zimbabwe', '266,359', '', '5,740', '258,888', '17,373', '374', '15,331,428', '']
['110', 'Uzbekistan', '253,662', '', '1,637', '241,486', '7,378', '48', '34,382,084', '']
['111', 'Afghanistan', '234,174', '', '7,996', '211,080', '5,746', '196', '40,754,388', '']
['112', 'Mozambique', '233,731', '', '2,250', '228,805', '7,064', '68', '33,089,461', '']
['113', 'Martinique', '230,354', '', '1,102', 'N/A', '615,777', '2,946', '374,087', '']
['114', 'Laos', '218,970', '', '758', 'N/A', '29,270', '101', '7,481,023', '']
['115', 'Iceland', '209,906', '', '229', 'N/A', '607,731', '663', '345,393', '']
['116', 'Kyrgyzstan', '206,897', '', '2,991', '196,406', '30,750', '445', '6,728,271', '']
['117', 'Guadeloupe', '203,235', '', '1,021', 'N/A', '508,349', '2,554', '399,794', '']
['118', 'El Salvador', '201,855', '', '4,230', '179,410', '30,816', '646', '6,550,389', '']
['119', 'Trinidad and Tobago', '191,496', '', '4,390', '187,078', '136,143', '3,121', '1,406,585', '']
['120', 'Maldives', '186,694', '', '316', '163,687', '345,100', '584', '540,985', '']
['121', 'Namibia', '172,389', '', '4,106', '167,099', '65,451', '1,559', '2,633,874', '']
['122', 'Uganda', '172,149', '', '3,632', '100,431', '3,554', '75', '48,432,863', '']
['123', 'Ghana', '171,889', '', '1,462', '170,425', '5,306', '45', '32,395,450', '']
['124', 'Jamaica', '156,869', '', '3,756', 'N/A', '52,551', '1,258', '2,985,094', '']
['125', 'Cambodia', '139,103', '', '3,056', '136,044', '8,102', '178', '17,168,639', '']
['126', 'Rwanda', '133,518', '', '1,468', '132,039', '9,817', '108', '13,600,464', '']
['127', 'Cameroon', '125,379', '', '1,974', '123,280', '4,492', '71', '27,911,548', '']
['128', 'Malta', '121,420', '', '885', '120,149', '273,448', '1,993', '444,033', '']
['129', 'Barbados', '110,578', '', '648', '108,647', '383,921', '2,250', '288,023', '']
['130', 'Angola', '107,327', '', '1,937', '103,419', '3,064', '55', '35,027,343', '']
['131', 'Channel Islands', '101,717', '', '228', '101,321', '576,421', '1,292', '176,463', '']
['132', 'DRC', '99,338', '', '1,468', '84,489', '1,043', '15', '95,240,792', '']
['133', 'French Guiana', '98,041', '', '420', '11,254', '312,065', '1,337', '314,169', '']
['134', 'Malawi', '89,535', '', '2,686', 'N/A', '4,437', '133', '20,180,839', '']
['135', 'Senegal', '89,053', '', '1,971', '87,024', '5,044', '112', '17,653,671', '']
['136', 'Ivory Coast', '88,384', '', '835', '87,497', '3,186', '30', '27,742,298', '']
['137', 'Suriname', '82,588', '', '1,408', 'N/A', '138,378', '2,359', '596,831', '']
['138', 'New Caledonia', '80,064', '', '314', 'N/A', '275,214', '1,079', '290,915', '']
['139', 'French Polynesia', '79,254', '', '650', 'N/A', '278,902', '2,287', '284,164', '']
['140', 'Eswatini', '75,191', '', '1,427', '73,116', '63,462', '1,204', '1,184,817', '']
['141', 'Guyana', '74,137', '', '1,300', '72,013', '93,366', '1,637', '794,045', '']
['142', 'Belize', '71,409', '', '688', 'N/A', '173,243', '1,669', '412,190', '']
['143', 'Fiji', '69,117', '', '885', '67,226', '75,997', '973', '909,466', '']
['144', 'Madagascar', '68,486', '', '1,426', '66,862', '2,347', '49', '29,178,077', '']
['145', 'Cabo Verde', '64,477', '', '417', '63,755', '113,580', '735', '567,678', '']
['146', 'Sudan', '63,993', '', '5,046', '58,947', '1,391', '110', '45,992,020', '']
['147', 'Mauritania', '63,848', '', '997', '62,471', '13,025', '203', '4,901,981', '']
['148', 'Bhutan', '62,697', '', '21', '61,564', '79,571', '27', '787,941', '']
['149', 'Syria', '57,743', '', '3,165', '54,578', '2,982', '163', '19,364,809', '']
['150', 'Burundi', '54,721', '', '38', '53,569', '4,334', '3', '12,624,840', '']
['151', 'Seychelles', '51,220', '', '172', '51,048', '515,157', '1,730', '99,426', '']
['152', 'Gabon', '49,051', '', '307', '48,674', '21,038', '132', '2,331,533', '']
['153', 'Andorra', '48,015', '', '165', 'N/A', '619,844', '2,130', '77,463', '']
['154', 'Papua New Guinea', '46,864', '', '670', '46,168', '5,043', '72', '9,292,169', '']
['155', 'Curaçao', '45,986', '', '295', '44,720', '277,812', '1,782', '165,529', '']
['156', 'Aruba', '44,224', '', '292', '42,438', '410,969', '2,714', '107,609', '']
['157', 'Tanzania', '43,223', '', '846', 'N/A', '683', '13', '63,298,550', '']
['158', 'Mauritius', '43,025', '', '1,051', '41,278', '33,752', '824', '1,274,727', '']
['159', 'Mayotte', '42,027', '', '188', 'N/A', '146,815', '657', '286,259', '']
['160', 'Togo', '39,572', '', '290', '39,281', '4,559', '33', '8,680,837', '']
['161', 'Guinea', '38,572', '', '468', '37,757', '2,782', '34', '13,865,691', '']
['162', 'Bahamas', '38,084', '', '844', '36,366', '95,087', '2,107', '400,516', '']
['163', 'Isle of Man', '38,008', '', '116', 'N/A', '443,335', '1,353', '85,732', '']
['164', 'Lesotho', '36,138', '', '723', '25,980', '16,610', '332', '2,175,699', '']
['165', 'Haiti', '34,667', '', '860', '33,734', '2,968', '74', '11,680,283', '']
['166', 'Faeroe Islands', '34,658', '', '28', 'N/A', '703,959', '569', '49,233', '']
['167', 'Mali', '33,164', '', '743', '32,332', '1,544', '35', '21,473,764', '']
['168', 'Cayman Islands', '31,472', '', '37', '8,553', '467,797', '550', '67,277', '']
['169', 'Saint Lucia', '30,215', '', '410', '29,805', '163,225', '2,215', '185,113', '']
['170', 'Benin', '28,036', '', '163', '27,847', '2,193', '13', '12,784,726', '']
['171', 'Macao', '27,673', '', '123', '3,487', '41,458', '184', '667,490', '']
['172', 'Somalia', '27,334', '', '1,361', '13,182', '1,623', '81', '16,841,795', '']
['173', 'Micronesia', '26,547', '', '65', 'N/A', '225,953', '553', '117,489', '']
['174', 'San Marino', '26,185', '', '128', '26,011', '768,226', '3,755', '34,085', '']
['175', 'Solomon Islands', '25,954', '', '199', 'N/A', '35,989', '276', '721,159', '']
['176', 'Congo', '25,375', '', '386', '24,006', '4,377', '67', '5,797,805', '']
['177', 'Timor-Leste', '23,460', '', '138', '23,102', '17,131', '101', '1,369,429', '']
['178', 'Burkina Faso', '22,114', '', '400', '21,596', '1,001', '18', '22,102,838', '']
['179', 'Liechtenstein', '21,574', '', '94', 'N/A', '562,013', '2,449', '38,387', '']
['180', 'Gibraltar', '20,550', '', '113', 'N/A', '609,720', '3,353', '33,704', '']
['181', 'Grenada', '19,693', '', '238', '19,358', '173,545', '2,097', '113,475', '']
['182', 'Bermuda', '18,860', '', '165', '18,685', '304,493', '2,664', '61,939', '']
['183', 'South Sudan', '18,819', '', '147', '18,115', '1,620', '13', '11,618,511', '']
['184', 'Nicaragua', '18,491', '', '225', '4,225', '2,728', '33', '6,779,100', '']
['185', 'Tajikistan', '17,786', '', '125', '17,264', '1,786', '13', '9,957,464', '']
['186', 'Equatorial Guinea', '17,229', '', '183', '16,907', '11,512', '122', '1,496,662', '']
['187', 'Monaco', '17,181', '', '67', 'N/A', '431,868', '1,684', '39,783', '']
['188', 'Samoa', '17,006', '', '31', '1,605', '84,089', '153', '202,239', '']
['189', 'Tonga', '16,950', '', '13', '15,638', '157,310', '121', '107,749', '']
['190', 'Marshall Islands', '16,138', '', '17', '16,121', '268,711', '283', '60,057', '']
['191', 'Dominica', '16,038', '', '74', '15,964', '221,691', '1,023', '72,344', '']
['192', 'Djibouti', '15,690', '', '189', '15,427', '15,441', '186', '1,016,097', '']
['193', 'CAR', '15,440', '', '113', '15,200', '3,078', '23', '5,016,678', '']
['194', 'Gambia', '12,626', '', '372', '12,189', '4,935', '145', '2,558,482', '']
['195', 'Saint Martin', '12,324', '', '63', 'N/A', '310,194', '1,586', '39,730', '']
['196', 'Vanuatu', '12,019', '', '14', '11,976', '37,346', '44', '321,832', '']
['197', 'Greenland', '11,971', '', '21', '2,761', '210,117', '369', '56,973', '']
['198', 'Yemen', '11,945', '', '2,159', '9,124', '383', '69', '31,154,867', '']
['199', 'Caribbean Netherlands', '11,682', '', '38', '10,476', '438,398', '1,426', '26,647', '']
['200', 'Sint Maarten', '11,051', '', '92', '10,905', '251,353', '2,093', '43,966', '']
['201', 'Eritrea', '10,189', '', '103', '10,086', '2,782', '28', '3,662,244', '']
['202', 'Niger', '9,931', '', '312', '8,890', '381', '12', '26,083,660', '']
['203', 'St. Vincent Grenadines', '9,674', '', '124', '9,493', '86,723', '1,112', '111,551', '']
['204', 'Guinea-Bissau', '9,614', '', '177', '8,929', '4,659', '86', '2,063,367', '']
['205', 'Comoros', '9,109', '', '161', '8,939', '10,038', '177', '907,419', '']
['206', 'Antigua and Barbuda', '9,106', '', '146', '8,954', '91,509', '1,467', '99,509', '']
['207', 'Liberia', '8,090', '', '295', '7,783', '1,525', '56', '5,305,117', '']
['208', 'Sierra Leone', '7,779', '', '126', 'N/A', '937', '15', '8,306,436', '']
['209', 'Chad', '7,701', '', '194', '4,874', '442', '11', '17,413,580', '']
['210', 'British Virgin Islands', '7,392', '', '64', 'N/A', '241,600', '2,092', '30,596', '']
['211', 'Cook Islands', '7,203', '', '2', '7,150', '409,937', '114', '17,571', '']
['212', 'Sao Tome and Principe', '6,778', '', '80', '6,685', '29,770', '351', '227,679', '']
['213', 'Turks and Caicos', '6,752', '', '40', '6,709', '169,900', '1,007', '39,741', '']
['214', 'Saint Kitts and Nevis', '6,607', '', '48', '6,559', '122,645', '891', '53,871', '']
['215', 'Palau', '6,290', '', '10', '6,276', '344,979', '548', '18,233', '']
['216', 'St. Barth', '5,507', '', '6', 'N/A', '553,746', '603', '9,945', '']
['217', 'Nauru', '5,393', '', '1', '5,347', '494,635', '92', '10,903', '']
['218', 'Kiribati', '5,085', '', '24', '2,703', '41,201', '194', '123,419', '']
['219', 'Anguilla', '3,904', '', '12', 'N/A', '256,336', '788', '15,230', '']
['220', 'Wallis and Futuna', '3,550', '', '8', '438', '323,256', '728', '10,982', '']

In [75]:
# Close WebDriver
driver.quit()

In [76]:
#Xử lý dữ liệu đã crawl
data = [row[:9] for row in data]
data = [row for row in data if any(cell.strip() for cell in row)]

In [77]:
# Create DataFrame
columns = ["#", "Country Other", "Total Cases", "New Cases", "Total Deaths", "Total Recovered", "Cases/1M Pop", "Deaths/1M Pop", "Population"]
df = pd.DataFrame(data, columns=columns)

In [78]:
df

,#,Country Other,Total Cases,New Cases,Total Deaths,Total Recovered,Cases/1M Pop,Deaths/1M Pop,Population
0,,World,"704,749,931","+3,536","7,010,624","675,604,068","90,413",899.4,
1,1,USA,"111,818,931","+1,744","1,219,480","109,804,319","333,982","3,642","334,805,269"
2,2,India,"45,035,325",+71,"533,570",N/A,"32,016",379,"1,406,631,776"
3,3,France,"40,138,560",,"167,642","39,970,918","612,013","2,556","65,584,518"
4,4,Germany,"38,828,922",+746,"183,011","38,240,600","462,891","2,182","83,883,596"
...,...,...,...,...,...,...,...,...,...
228,228,Tokelau,80,,,,"58,055",,"1,378"
229,229,Vatican City,29,,,29,"36,295",,799
230,230,Western Sahara,10,,1,9,16,2,"626,161"
231,231,MS Zaandam,9,,2,7,,,
232,,Total:,"704,749,931","+3,536","7,010,624",,"675,604,068",,

In [79]:
# Convert numeric columns to proper format
def convert_numeric(value):
    return int(value.replace(",", "")) if value.replace(",", "").isdigit() else value
df = df.applymap(convert_numeric)

# Display the DataFrame
print(df)

       #   Country Other  Total Cases New Cases Total Deaths Total Recovered  \
0                  World    704749931    +3,536      7010624       675604068
1      1             USA    111818931    +1,744      1219480       109804319
2      2           India     45035325       +71       533570             N/A
3      3          France     40138560                 167642        39970918
4      4         Germany     38828922      +746       183011        38240600
..   ...             ...          ...       ...          ...             ...
228  228         Tokelau           80
229  229    Vatican City           29                                     29
230  230  Western Sahara           10                      1               9
231  231      MS Zaandam            9                      2               7
232               Total:    704749931    +3,536      7010624

    Cases/1M Pop Deaths/1M Pop  Population
0          90413         899.4
1         333982          3642   334805269
2          32016           379  1406631776
3         612013          2556    65584518
4         462891          2182    83883596
..           ...           ...         ...
228        58055                      1378
229        36295                       799
230           16             2      626161
231
232    675604068

[233 rows x 9 columns]

C:\Users\Thy\AppData\Local\Temp\ipykernel_9908\542521856.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(convert_numeric)

In [80]:
# Save to CSV
df.to_csv("covid_data.csv", index=False)

BAI TAP 1

In [81]:
# Câu 1
data_copy = df.copy()
data_copy = data_copy.drop(index = 0)
data_copy = data_copy.drop(index = 232)
data_copy

,#,Country Other,Total Cases,New Cases,Total Deaths,Total Recovered,Cases/1M Pop,Deaths/1M Pop,Population
1,1,USA,111818931,"+1,744",1219480,109804319,333982,3642,334805269
2,2,India,45035325,+71,533570,N/A,32016,379,1406631776
3,3,France,40138560,,167642,39970918,612013,2556,65584518
4,4,Germany,38828922,+746,183011,38240600,462891,2182,83883596
5,5,Brazil,38743918,,711380,36249161,179908,3303,215353593
...,...,...,...,...,...,...,...,...,...
227,227,Diamond Princess,712,,13,699,,,
228,228,Tokelau,80,,,,58055,,1378
229,229,Vatican City,29,,,29,36295,,799
230,230,Western Sahara,10,,1,9,16,2,626161
231,231,MS Zaandam,9,,2,7,,,

In [82]:
Top_5_countries = data_copy.sort_values(by = 'Total Cases', ascending = False).head()
Top_5_countries

,#,Country Other,Total Cases,New Cases,Total Deaths,Total Recovered,Cases/1M Pop,Deaths/1M Pop,Population
1,1,USA,111818931,"+1,744",1219480,109804319,333982,3642,334805269
2,2,India,45035325,+71,533570,N/A,32016,379,1406631776
3,3,France,40138560,,167642,39970918,612013,2556,65584518
4,4,Germany,38828922,+746,183011,38240600,462891,2182,83883596
5,5,Brazil,38743918,,711380,36249161,179908,3303,215353593

In [83]:
# Câu 2
Top_1_countries = data_copy.sort_values(by = 'New Cases', ascending = False).head()
Top_1_countries.iloc[0]

#                         13
Country Other      Australia
Total Cases         11852480
New Cases               +954
Total Deaths           24414
Total Recovered     11815715
Cases/1M Pop          454662
Deaths/1M Pop            937
Population          26068792
Name: 13, dtype: object

In [85]:
# Chuyển đổi các giá trị N/A hoặc không hợp lệ thành NaN, sau đó ép kiểu thành int
data_copy['Total Recovered'] = pd.to_numeric(data_copy['Total Recovered'], errors='coerce')

# Thay thế NaN bằng giá trị mặc định (nếu cần, ví dụ: 0)
data_copy['Total Recovered'] = data_copy['Total Recovered'].fillna(0).astype(int)

# Kiểm tra kết quả
data_copy

,#,Country Other,Total Cases,New Cases,Total Deaths,Total Recovered,Cases/1M Pop,Deaths/1M Pop,Population
1,1,USA,111818931,"+1,744",1219480,109804319,333982,3642,334805269
2,2,India,45035325,+71,533570,0,32016,379,1406631776
3,3,France,40138560,,167642,39970918,612013,2556,65584518
4,4,Germany,38828922,+746,183011,38240600,462891,2182,83883596
5,5,Brazil,38743918,,711380,36249161,179908,3303,215353593
...,...,...,...,...,...,...,...,...,...
227,227,Diamond Princess,712,,13,699,,,
228,228,Tokelau,80,,,0,58055,,1378
229,229,Vatican City,29,,,29,36295,,799
230,230,Western Sahara,10,,1,9,16,2,626161
231,231,MS Zaandam,9,,2,7,,,

In [86]:
# Tính tỉ lệ tổng số ca bình phục trên tổng số ca nhiễm
data_copy['Recovery Rate'] = data_copy['Total Recovered'] / data_copy['Total Cases']

# Sắp xếp theo tỉ lệ bình phục giảm dần và lấy 3 quốc gia có tỉ lệ cao nhất
Top_3_recovery_countries = data_copy.sort_values(by='Recovery Rate', ascending=False).head(3)

# Hiển thị kết quả
Top_3_recovery_countries

,#,Country Other,Total Cases,New Cases,Total Deaths,Total Recovered,Cases/1M Pop,Deaths/1M Pop,Population,Recovery Rate
224,224,Falkland Islands,1930,,,1930,545352,,3539,1.000000
229,229,Vatican City,29,,,29,36295,,799,1.000000
32,32,DPRK,4772813,,74,4772739,183636,3,25990679,0.999984