3. Thực hành thao tác cơ bản với dữ liệu trong R Studio

    Dữ liệu mẫu: 
	Bộ dữ liệu: Novel Corona Virus 2019
	Link tải: https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset

In [249]:
import pandas as pd

Đọc dữ liệu và gán vào biến coronaData

In [250]:
coronaData = pd.read_csv("data/covid_19_data.csv")
coronaData

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

Liệt kê số cột trong bảng dữ liệu:

In [251]:
len(coronaData.columns)

8

Liệt kê số dòng:

In [252]:
len(coronaData)

306429

In ra 10 dòng đầu trong bảng dữ liệu:

In [253]:
coronaData.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In ra tên các biến (tên cột) của dữ liệu:

In [254]:
print(coronaData.columns)

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

Tạo biến countryCorona lưu giá trị là các quốc gia có dịch Corona (Cột Country.Region)

In [255]:
# cach 1
countryCorona = coronaData["Country/Region"].unique()
print(countryCorona)
# cach 2
countryCorona = coronaData["Country/Region"]
#set(countryCorona)
#print(set(countryCorona))

['Mainland China' 'Hong Kong' 'Macau' 'Taiwan' 'US' 'Japan' 'Thailand'
 'South Korea' 'China' 'Kiribati' 'Singapore' 'Philippines' 'Malaysia'
 'Vietnam' 'Australia' 'Mexico' 'Brazil' 'Colombia' 'France' 'Nepal'
 'Canada' 'Cambodia' 'Sri Lanka' 'Ivory Coast' 'Germany' 'Finland'
 'United Arab Emirates' 'India' 'Italy' 'UK' 'Russia' 'Sweden' 'Spain'
 'Belgium' 'Others' 'Egypt' 'Iran' 'Israel' 'Lebanon' 'Iraq' 'Oman'
 'Afghanistan' 'Bahrain' 'Kuwait' 'Austria' 'Algeria' 'Croatia'
 'Switzerland' 'Pakistan' 'Georgia' 'Greece' 'North Macedonia' 'Norway'
 'Romania' 'Denmark' 'Estonia' 'Netherlands' 'San Marino' ' Azerbaijan'
 'Belarus' 'Iceland' 'Lithuania' 'New Zealand' 'Nigeria' 'North Ireland'
 'Ireland' 'Luxembourg' 'Monaco' 'Qatar' 'Ecuador' 'Azerbaijan'
 'Czech Republic' 'Armenia' 'Dominican Republic' 'Indonesia' 'Portugal'
 'Andorra' 'Latvia' 'Morocco' 'Saudi Arabia' 'Senegal' 'Argentina' 'Chile'
 'Jordan' 'Ukraine' 'Saint Barthelemy' 'Hungary' 'Faroe Islands'
 'Gibraltar' 'Liechtenstein' 'Poland' 'Tunisia' 'Palestine'
 'Bosnia and Herzegovina' 'Slovenia' 'South Africa' 'Bhutan' 'Cameroon'
 'Costa Rica' 'Peru' 'Serbia' 'Slovakia' 'Togo' 'Vatican City'
 'French Guiana' 'Malta' 'Martinique' 'Republic of Ireland' 'Bulgaria'
 'Maldives' 'Bangladesh' 'Moldova' 'Paraguay' 'Albania' 'Cyprus'
 'St. Martin' 'Brunei' 'occupied Palestinian territory' "('St. Martin',)"
 'Burkina Faso' 'Channel Islands' 'Holy See' 'Mongolia' 'Panama' 'Bolivia'
 'Honduras' 'Congo (Kinshasa)' 'Jamaica' 'Reunion' 'Turkey' 'Cuba'
 'Guyana' 'Kazakhstan' 'Cayman Islands' 'Guadeloupe' 'Ethiopia' 'Sudan'
 'Guinea' 'Antigua and Barbuda' 'Aruba' 'Kenya' 'Uruguay' 'Ghana' 'Jersey'
 'Namibia' 'Seychelles' 'Trinidad and Tobago' 'Venezuela' 'Curacao'
 'Eswatini' 'Gabon' 'Guatemala' 'Guernsey' 'Mauritania' 'Rwanda'
 'Saint Lucia' 'Saint Vincent and the Grenadines' 'Suriname' 'Kosovo'
 'Central African Republic' 'Congo (Brazzaville)' 'Equatorial Guinea'
 'Uzbekistan' 'Guam' 'Puerto Rico' 'Benin' 'Greenland' 'Liberia' 'Mayotte'
 'Republic of the Congo' 'Somalia' 'Tanzania' 'The Bahamas' 'Barbados'
 'Montenegro' 'The Gambia' 'Kyrgyzstan' 'Mauritius' 'Zambia' 'Djibouti'
 'Gambia, The' 'Bahamas, The' 'Chad' 'El Salvador' 'Fiji' 'Nicaragua'
 'Madagascar' 'Haiti' 'Angola' 'Cabo Verde' 'Niger' 'Papua New Guinea'
 'Zimbabwe' 'Cape Verde' 'East Timor' 'Eritrea' 'Uganda' 'Bahamas'
 'Dominica' 'Gambia' 'Grenada' 'Mozambique' 'Samoa' 'Syria' 'Timor-Leste'
 'Belize' 'Laos' 'Libya' 'Diamond Princess' 'Guinea-Bissau' 'Mali'
 'Saint Kitts and Nevis' 'West Bank and Gaza' 'Burma' 'MS Zaandam'
 'Botswana' 'Burundi' 'Sierra Leone' 'Malawi' 'South Sudan'
 'Sao Tome and Principe' 'Yemen' 'Comoros' 'Tajikistan' 'Lesotho'
 'Solomon Islands' 'Marshall Islands' 'Vanuatu' 'Micronesia']

Liệt kê số lượng ca lây nhiễm được xác nhận (biến Confirmed) nhiều nhất và lưu vào biến maxConfirmedCases.

In [256]:
maxConfirmedCases = coronaData['Confirmed'].max()
maxConfirmedCases

5863138.0

Liệt kê các dữ liệu về covid-19 tại quốc gia Trung Quốc đại lục (Mainland China) và lưu vào biến coronaChina.

In [257]:
coronaChina = coronaData[coronaData['Country/Region']=='Mainland China']
coronaChina

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306340,306341,05/29/2021,Tibet,Mainland China,2021-05-30 04:20:55,1.0,0.0,1.0
306368,306369,05/29/2021,Unknown,Mainland China,2021-05-30 04:20:55,0.0,0.0,10.0
306412,306413,05/29/2021,Xinjiang,Mainland China,2021-05-30 04:20:55,980.0,3.0,977.0
306420,306421,05/29/2021,Yunnan,Mainland China,2021-05-30 04:20:55,352.0,2.0,331.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0

Tìm quốc gia (Country.Region) có số ca lây nhiễm nhiều nhất:

In [258]:
countrymaxConfirmedCases = coronaData['Country/Region'][coronaData['Confirmed']==maxConfirmedCases]
countrymaxConfirmedCases

298068    France
Name: Country/Region, dtype: object

Tìm tỉnh (Province.State) có số ca lây nhiễm nhiều nhất

In [259]:
provincemaxConfirmedCases = coronaData[coronaData['Confirmed']==maxConfirmedCases]['Province/State']
provincemaxConfirmedCases

298068    NaN
Name: Province/State, dtype: object

Lấy dữ liệu theo ngày tháng
Định dạng lại cột dữ liệu ngày tháng: Sử dụng hàm: as.Date(<danh sách ngày tháng>, <định dạng ngày tháng trong dữ liệu>)

In [260]:
# kiểm tra kiểu dữ liệu của cột ObservationDate
type(coronaData['ObservationDate'][1])

str

In [ ]:
# Định dạng lại cột dữ liệu ngày tháng
coronaData['ObservationDate'] = pd.to_datetime(coronaData['ObservationDate'])
coronaData['ObservationDate'] = coronaData['ObservationDate']('%m/%d/%Y')

TypeError: 'Series' object is not callable

In [262]:
# lấy dữ liệu từ ngày 01/01/2020 đến ngày 31/01/2020
data_jan = coronaData[('01/01/2020' <= coronaData['ObservationDate']) & (coronaData['ObservationDate'] <= '01/31/2020')]
data_jan

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
508,509,2020-01-31,NaN,Philippines,1/31/2020 23:59,1.0,0.0,0.0
509,510,2020-01-31,NaN,India,1/31/2020 23:59,1.0,0.0,0.0
510,511,2020-01-31,NaN,Sweden,1/31/2020 23:59,1.0,0.0,0.0
511,512,2020-01-31,Unknown,China,1/31/2020 23:59,0.0,0.0,0.0
512,513,2020-01-31,NaN,Kiribati,1/31/2020 23:59,0.0,0.0,0.0

4. Bài tập

Tìm dữ liệu về số ca lây nhiễm tại Vietnam (Country.Region == 'Vietnam') và lưu vào biến coronaVietnam.

In [263]:
coronaVietnam = coronaData[coronaData['Country/Region']=='Vietnam']

Tìm dữ liệu về số ca lây nhiễm tại Việt Nam trong tháng 02 năm 2021.

In [264]:
Vietnam_feb = coronaVietnam[(coronaVietnam['ObservationDate']>='02/01/2021') & (coronaVietnam['ObservationDate']<='02/28/2021')]
Vietnam_feb[['ObservationDate','Confirmed']]

       ObservationDate  Confirmed
216326      2021-02-01     1850.0
217091      2021-02-02     1882.0
217856      2021-02-03     1948.0
218621      2021-02-04     1957.0
219386      2021-02-05     1976.0
220151      2021-02-06     1985.0
220916      2021-02-07     2001.0
221681      2021-02-08     2050.0
222446      2021-02-09     2064.0
223211      2021-02-10     2091.0
223976      2021-02-11     2140.0
224741      2021-02-12     2142.0
225506      2021-02-13     2195.0
226271      2021-02-14     2228.0
227036      2021-02-15     2269.0
227801      2021-02-16     2311.0
228566      2021-02-17     2329.0
229331      2021-02-18     2347.0
230096      2021-02-19     2362.0
230861      2021-02-20     2368.0
231626      2021-02-21     2383.0
232391      2021-02-22     2392.0
233156      2021-02-23     2403.0
233921      2021-02-24     2412.0
234686      2021-02-25     2421.0
235451      2021-02-26     2426.0
236216      2021-02-27     2432.0
236981      2021-02-28     2448.0

In ra số dữ liệu về ca lây nhiễm nhiều nhất trong khoảng tháng 01 và 02 tại Việt Nam (Lấy năm 2021).

In [265]:
VN_jan_feb = coronaVietnam[(coronaVietnam['ObservationDate']>='01/01/2021') & (coronaVietnam['ObservationDate']<='02/28/2021')]
VN_jan_feb['Confirmed'].max()

2448.0

Thực hiện tương tự câu d) cho Indonesia và Philipine

In [266]:
Indonesia_jan_feb = coronaData[(coronaData['Country/Region']=='Indonesia') & (coronaData['ObservationDate']>='01/01/2021') & (coronaData['ObservationDate']<='02/28/2021')]
Indonesia_jan_feb['Confirmed'].max()

1334634.0

In [267]:
Philipines_jan_feb = coronaData[(coronaData['Country/Region']=='Philippines') & (coronaData['ObservationDate']>='01/01/2021') & (coronaData['ObservationDate']<='02/28/2021')]
Philipines_jan_feb['Confirmed'].max()

576352.0

In ra dữ liệu về ca nhiễm ghi nhân (Confirmed) của Trung Quốc trong khoảng thời gian từ 01/02/2021 cho đến 15/02/2021. In ra màn hình sử dụng lệnh print().

In [268]:
type(coronaData['ObservationDate'][1])

pandas._libs.tslibs.timestamps.Timestamp

In [269]:
ChinaData_feb = coronaData[(coronaData['Country/Region'].str.contains('China')) & (coronaData['ObservationDate']>='02/01/2021') & (coronaData['ObservationDate']<='02/28/2021')]
ChinaData_feb

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
216353,216354,2021-02-01,Anhui,Mainland China,2021-04-02 15:13:53,994.0,6.0,987.0
216387,216388,2021-02-01,Beijing,Mainland China,2021-04-02 15:13:53,1039.0,9.0,977.0
216437,216438,2021-02-01,Chongqing,Mainland China,2021-04-02 15:13:53,591.0,6.0,584.0
216479,216480,2021-02-01,Fujian,Mainland China,2021-04-02 15:13:53,541.0,1.0,525.0
216484,216485,2021-02-01,Gansu,Mainland China,2021-04-02 15:13:53,187.0,2.0,181.0
...,...,...,...,...,...,...,...,...
237490,237491,2021-02-28,Tibet,Mainland China,2021-04-02 15:13:53,1.0,0.0,1.0
237518,237519,2021-02-28,Unknown,Mainland China,2021-04-02 15:13:53,0.0,0.0,3.0
237562,237563,2021-02-28,Xinjiang,Mainland China,2021-04-02 15:13:53,980.0,3.0,977.0
237570,237571,2021-02-28,Yunnan,Mainland China,2021-04-02 15:13:53,233.0,2.0,229.0
237576,237577,2021-02-28,Zhejiang,Mainland China,2021-04-02 15:13:53,1321.0,1.0,1314.0

In [270]:
ChinaData = ChinaData_feb[(ChinaData_feb['ObservationDate']>='02/01/2021') & (ChinaData_feb['ObservationDate']<='02/15/2021')]
ChinaData
#print(ChinaData.groupby('ObservationDate').Confirmed.sum())

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
216353,216354,2021-02-01,Anhui,Mainland China,2021-04-02 15:13:53,994.0,6.0,987.0
216387,216388,2021-02-01,Beijing,Mainland China,2021-04-02 15:13:53,1039.0,9.0,977.0
216437,216438,2021-02-01,Chongqing,Mainland China,2021-04-02 15:13:53,591.0,6.0,584.0
216479,216480,2021-02-01,Fujian,Mainland China,2021-04-02 15:13:53,541.0,1.0,525.0
216484,216485,2021-02-01,Gansu,Mainland China,2021-04-02 15:13:53,187.0,2.0,181.0
...,...,...,...,...,...,...,...,...
227545,227546,2021-02-15,Tibet,Mainland China,2021-04-02 15:13:53,1.0,0.0,1.0
227573,227574,2021-02-15,Unknown,Mainland China,2021-04-02 15:13:53,0.0,0.0,0.0
227617,227618,2021-02-15,Xinjiang,Mainland China,2021-04-02 15:13:53,980.0,3.0,977.0
227625,227626,2021-02-15,Yunnan,Mainland China,2021-04-02 15:13:53,231.0,2.0,228.0
227631,227632,2021-02-15,Zhejiang,Mainland China,2021-04-02 15:13:53,1320.0,1.0,1306.0

Thống kê số lượng record theo từng tỉnh của Trung Quốc trong tháng 02/2021.

In [271]:
ChinaData_feb.groupby('Province/State').Recovered.sum()

Province/State
Anhui               27663.0
Beijing             28074.0
Chongqing           16378.0
Fujian              15001.0
Gansu                5168.0
Guangdong           59149.0
Guangxi              7406.0
Guizhou              4060.0
Hainan               4620.0
Hebei               32323.0
Heilongjiang        39854.0
Henan               35862.0
Hubei             1781865.0
Hunan               28600.0
Inner Mongolia      10148.0
Jiangsu             19351.0
Jiangxi             26152.0
Jilin               12270.0
Liaoning            11118.0
Ningxia              2100.0
Qinghai               504.0
Shaanxi             14785.0
Shandong            24050.0
Shanghai            46385.0
Shanxi               6516.0
Sichuan             24217.0
Tianjin              9267.0
Tibet                  28.0
Unknown                36.0
Xinjiang            27356.0
Yunnan               6391.0
Zhejiang            36615.0
Name: Recovered, dtype: float64

Đếm số lượng ca nhiễm mới theo từng tỉnh của Trung Quốc trong tháng 02/2021.

In [272]:
for i in ChinaData_feb['Province/State'].unique():
    print(f'Số lượng ca nhiễm mới của tỉnh{i}trong tháng 2 là:')
    kq = float(ChinaData_feb[(ChinaData_feb['Province/State']==i) & (ChinaData_feb['ObservationDate']=='02/28/2021')]['Confirmed']) - float(ChinaData_feb[(ChinaData_feb['Province/State']==i) & (ChinaData_feb['ObservationDate']=='02/01/2021')]['Confirmed'])
    print(kq)

Số lượng ca nhiễm mới của tỉnhAnhuitrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhBeijingtrong tháng 2 là:
10.0
Số lượng ca nhiễm mới của tỉnhChongqingtrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhFujiantrong tháng 2 là:
10.0
Số lượng ca nhiễm mới của tỉnhGansutrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhGuangdongtrong tháng 2 là:
85.0
Số lượng ca nhiễm mới của tỉnhGuangxitrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhGuizhoutrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhHainantrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhHebeitrong tháng 2 là:
4.0
Số lượng ca nhiễm mới của tỉnhHeilongjiangtrong tháng 2 là:
19.0
Số lượng ca nhiễm mới của tỉnhHenantrong tháng 2 là:
1.0
Số lượng ca nhiễm mới của tỉnhHubeitrong tháng 2 là:
1.0
Số lượng ca nhiễm mới của tỉnhHunantrong tháng 2 là:
4.0
Số lượng ca nhiễm mới của tỉnhInner Mongoliatrong tháng 2 là:
1.0
Số lượng ca nhiễm mới của tỉnhJiangsutrong tháng 2 là:
7.0
Số lượng ca nhiễm mới của tỉnhJiangxitrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhJilintrong tháng 2 là:
18.0
Số lượng ca nhiễm mới của tỉnhLiaoningtrong tháng 2 là:
4.0
Số lượng ca nhiễm mới của tỉnhNingxiatrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhQinghaitrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhShaanxitrong tháng 2 là:
11.0
Số lượng ca nhiễm mới của tỉnhShandongtrong tháng 2 là:
3.0
Số lượng ca nhiễm mới của tỉnhShanghaitrong tháng 2 là:
91.0
Số lượng ca nhiễm mới của tỉnhShanxitrong tháng 2 là:
1.0
Số lượng ca nhiễm mới của tỉnhSichuantrong tháng 2 là:
29.0
Số lượng ca nhiễm mới của tỉnhTianjintrong tháng 2 là:
12.0
Số lượng ca nhiễm mới của tỉnhTibettrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhUnknowntrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhXinjiangtrong tháng 2 là:
0.0
Số lượng ca nhiễm mới của tỉnhYunnantrong tháng 2 là:
2.0
Số lượng ca nhiễm mới của tỉnhZhejiangtrong tháng 2 là:
5.0

C:\Users\Thy\AppData\Local\Temp\ipykernel_23104\3175333953.py:3: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  kq = float(ChinaData_feb[(ChinaData_feb['Province/State']==i) & (ChinaData_feb['ObservationDate']=='02/28/2021')]['Confirmed']) - float(ChinaData_feb[(ChinaData_feb['Province/State']==i) & (ChinaData_feb['ObservationDate']=='02/01/2021')]['Confirmed'])

 Tìm dữ liệu ca tử vong của Trung Quốc trong khoảng thời gian từ 01/02/2021 cho đến 15/02/2021. In ra màn hình sử dụng lệnh print().

In [273]:
print(ChinaData.groupby('ObservationDate').Deaths.sum())

ObservationDate
2021-02-01    4636.0
2021-02-02    4636.0
2021-02-03    4636.0
2021-02-04    4636.0
2021-02-05    4636.0
2021-02-06    4636.0
2021-02-07    4636.0
2021-02-08    4636.0
2021-02-09    4636.0
2021-02-10    4636.0
2021-02-11    4636.0
2021-02-12    4636.0
2021-02-13    4636.0
2021-02-14    4636.0
2021-02-15    4636.0
Name: Deaths, dtype: float64

 *Có nhận xét gì về số ca nhiễm mới tại Việt Nam giữa tháng 05/2020 và tháng 05/2021. Vẽ biểu đồ đường thể hiện số ca nhiễm mới trong 2 tháng trên. Gợi ý: Dùng hàm plot() trong R